<div>
  <h1>プロフィールを設定しよう</h1>
  <%= form_with model: @profile, url: user_profile_path, local: true do |f| %>

  <%# 詳細入力 %>
  <div>
    <div class="weight-bold-text">
      生年月日
    <div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>

    <div class="weight-bold-text">
      性別
      <div class='form-group-gender'>
        <label class="form-gender"> 男性<%= f.radio_button :gender, :man %> </label>
        <label class="form-gender"> 女性<%= f.radio_button :gender, :woman %> </label>
        <label class="form-gender"> その他<%= f.radio_button :gender, :other %> </label>
      </div>
    </div>

    <div class="weight-bold-text">
      好きなジャンル
    </div>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"fav-text", id:"fav-genre"}) %>
  </div>
  <%# /詳細入力 %>

  <%# 下部ボタン %>
  <div class="post-btn-contents">
    <%= f.submit "設定する", class:"post-btn"%>
    <%=link_to 'もどる', :back, class:"back-btn" %>
  </div>
  <%# /下部ボタン %>
  <% end %>
</div>