<div>
  <%= @user.nickname %>さんの投稿一覧
  <% @posts.each do |post| %>
  <div>
    <%= post.title%>
    <%= post.author%>
  </div>
  <div>
    <%= post.genre.name%>
    <%= post.purpose %>
    <%= post.user.nickname%>
  </div>
  <%= link_to "詳細", post_path(post) %>
  <%= link_to "編集", edit_post_path(post) %>
  <%= link_to "削除", post_path(post), method: :delete %>
  <%end%>
</div>