<header>
  <% if user_signed_in?%>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    <%= link_to current_user.nickname, "#"%>
  <%else%>
    <%= link_to "ログイン",  new_user_session_path, method: :get%>
  <%end%>
  
</header>

<div class="content">
  <h2>投稿一覧</h2>
   
  <% @posts.each do |post| %>
  <div>
    <%= post.title%>
    <%= post.author%>
  </div>
  <div>
    <%= post.genre.name%>
    <%= post.purpose %>
    <%= post.user.nickname%>
  </div>
  <%= link_to "削除", post_path(post), method: :delete %>
  <%end%>
</div>

<div>
<%= link_to "新規投稿", new_post_path %> 

</div>