<header>
  <h1>reBook</h1> 
  <% if user_signed_in?%>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    <%= link_to "マイページ", user_profiles_path(current_user.id) %>
  <%else%>
    <%= link_to "ログイン",  new_user_session_path, method: :get%>
  <%end%>
  
</header>

<div>
  <%= search_form_for @p, url: posts_search_path do |f| %>
    <%= f.label :name_eq, '商品名' %>
    <%= f.collection_select :title_eq, @posts, :title, :title,  include_blank: '指定なし' %>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class="content">
  <h2>投稿一覧</h2>
   
  <% @posts.each do |post| %>
  <div>
    <%= post.title%>
    <%= post.author%>
  </div>
  <div>
    <%= post.genre.name%>
    <%= post.purpose %>
    <%= post.user.nickname%>
  </div>
  <%= link_to "詳細", post_path(post), method: :get %>
  <%= link_to '編集', edit_post_path(post), method: :get %>
  <%= link_to "削除", post_path(post), method: :delete %>
  <%end%>
</div>

<div>
<%= link_to "新規投稿", new_post_path %> 

</div>