<header>
  <h1>reBook</h1> 
  <% if user_signed_in?%>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    <%= link_to "マイページ", user_profiles_path(current_user.id) %>
  <%else%>
    <%= link_to "ログイン",  new_user_session_path, method: :get%>
  <%end%>
  
</header>

<div>
  <%= search_form_for @p, url: posts_search_path do |f| %>
    <%= f.label :genre_name_eq, 'ジャンル：' %>
    <%= f.collection_select :genre_name_eq, @genre_name, :name, :name, include_blank: '指定なし' %>
    <br>
    <%= f.label :purpose, '目的：' %>
    <%= f.radio_button :purpose_eq, '' %>
    指定なし
    <%= f.radio_button :purpose_eq, '0' %>
    レビュー
    <%= f.radio_button :purpose_eq, '1' %>
    アウトプット
    <br>
    <%= f.label :title_cont, 'タイトル：' %>
    <%= f.search_field :title_cont, placeholder:'キーワード' %>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class="content">
  <h2>投稿一覧</h2>
   
  <% @posts.each do |post| %>
  <div>
    <%= post.title%>
    <%= post.author%>
  </div>
  <div>
    <%= post.genre.name%>
    <%= post.purpose %>
    <%= post.user.nickname%>
  </div>
  <%= link_to "詳細", post_path(post), method: :get %>
  <%= link_to '編集', edit_post_path(post), method: :get %>
  <%= link_to "削除", post_path(post), method: :delete %>
  <%end%>
</div>

<div>
<%= link_to "新規投稿", new_post_path %> 

</div>